/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
 }

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #79e17b;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 10rem;
}

a{
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #555;
  font-weight: 500;
  text-transform: capitalize;
}

/******************************/
/* GENRAL REUSABLE COMPONENTS */
/******************************/

.hide{
  display: none;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
  justify-self: center;
}

/**************/
/* SEARCH BAR */
/**************/

.search-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  width: 40%;
  padding: 1rem;
  margin-top: 3.2rem;
}

label{
  font-size: 5.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  color: white;}

.input-div{
  display: flex;
  box-shadow:0 2.4rem 4.8rem rgba(0, 0, 0, 0.295)

}

input{
  font-size: 2rem;
  width: 25rem;
  height: 3rem;

  border-radius: .25rem 0 0 .25rem ;
  border: 1px solid #333;
}

input::-moz-placeholder{
  font-family: "Rubik", sans-serif;
}

select{
  font-size: 1.6rem;
  width: auto;
	height: auto;
	cursor: pointer;
	background-color: white;
  color: #555;
	border-radius: 0 .25rem .25rem 0;
  border: 1px solid #333;
  padding: 0 5px;
  border-left-style:none
}



/*************/
/* VEG CARDS */
/*************/

.ingr-cards-container, .prod-cards-container{
  width: 50%;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
  margin-top: 2.4rem;
  padding: 1.2rem 0 1.2rem 0;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 5%;
  border: none;
  max-width: 26rem;
  transition: all 0.4s;
  box-shadow:0 2.4rem 4.8rem rgba(0, 0, 0, 0.171)
}

.card:hover{
  transform: scale(1.05);
  box-shadow:0 2.4rem 4.8rem rgba(0, 0, 0, 0.082)
}

.card > .header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.card > .body {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.veg-div{
  background-image: linear-gradient(to right, #9be15d, #00e3ae);
}

.nveg-div{
  background-image: linear-gradient(to right, #fa6363, #e38100);

}

.undf-div{
  background-image: linear-gradient(to right, #e6e662, #e38800);
}

.body-child{
  margin-bottom: 1rem;
}

.body-child :last-child{
  padding-top: .5rem;
}

.font-div{
  margin-bottom: 0;
}

/*****************/
/* SUGESTION BAR */
/*****************/